---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="About" description="About Wimpy Dev" pubDate={new Date('March 25 2026')}>
	<p>
		In suscipit orci a vehicula venenatis. Nam est metus, sodales ac porttitor ac, dignissim nec
		velit. In faucibus sodales lectus at accumsan. Praesent ullamcorper blandit elit aliquam porta.
		Vestibulum vel enim eleifend, feugiat libero non, condimentum mauris.
	</p>
	<p>
		Aliquam vel vestibulum risus. Donec eget hendrerit justo, in luctus sem. Pellentesque rutrum in
		eros quis pretium. Mauris ullamcorper eros sem, et condimentum justo tincidunt at. Curabitur
		neque lorem, facilisis ac fermentum in, interdum et magna.
	</p>
	<p>
		You can find the code on <a href="https://github.com/lauritsk">GitHub</a> or reach me at <a
			href="mailto:blog@wimpy.dev">blog@wimpy.dev</a
		>.
	</p>
</Layout>
