---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to Wimpy Dev</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum est sit amet nulla
				hendrerit, at scelerisque nulla varius. Vestibulum sed nunc tincidunt elit volutpat porta.
				Nam lacinia non tellus non sagittis. Mauris rutrum dolor id ante egestas, eget fermentum nisi
				semper.
			</p>
			<p>
				Duis enim tellus, egestas elementum leo vel, aliquam commodo lectus. Morbi fermentum
				ultricies cursus. Integer facilisis finibus eros et dapibus. Mauris et tristique risus. In
				quis quam quis augue facilisis sagittis vel at magna. Duis maximus purus sed urna auctor, quis
				ultricies massa consectetur.
			</p>
			<p>
				Ut rhoncus sapien eu diam consequat, et maximus ipsum varius. Sed sit amet ex elit. Aliquam
				autor ac tellus ut tristique. Proin et posuere metus. Etiam interdum felis vel arcu tempus
				porta.
			</p>
		</main>
		<Footer />
	</body>
</html>
